<div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
        </ul>
      </nav>
      <h3 class="text-chalk-yellow">GeoNames API Weather Demo</h3>
    </div>

    <div class="jumbotron">
      <!-- Credit: Photo by Jason Wong on Unsplash -->
      <img class="img-responsive" src="/assets/images/jason-wong-307217-unsplash.jpg"/>

      <h1 class="text-center">Weather Info</h1>

      <p class="lead text-center">
       Displays weather information about a specific zip code.
      </p>

      <p>
        <app-weather-lookup></app-weather-lookup>
      </p>

    </div>

    <footer class="footer">
      <p></p>
    </footer>
  </div>
