<div class="row">
  <!-- Modal -->
  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel"> Weather Info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-3">
              <b>Location:</b>
            </div>
            <div class="col-sm-9">
              {{city}}, {{state}}
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <b>Zip Code:</b>
            </div>
            <div class="col-sm-9">
              {{zipcode}}
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <b>GPS:</b>
            </div>
            <div class="col-sm-9">
              {{lat}}, {{lng}}
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <form name="zipCodeForm">
  <div class="form-group row">
    <div class="col-md-3"></div>
    <div class="col-md-6 ">
      <!--
        Attribution link for regex for zip code validation:
          Link: https://stackoverflow.com/a/2577239
          User: kennytm
      -->
      <input name="txtZipCode" type="text" required class="form-control" id="txtZipCode" placeholder="Enter a zipcode" [(ngModel)]="zipcode" pattern="^\d{5}(?:[-\s]\d{4})?$"/>
    </div>


  </div>
  <div class="form-group row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <button type="button" class="btn btn-secondary btn-success btn-block" data-toggle="modal" data-target="#modal" (click)="onClick()">
          Lookup
        </button>

    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-secondary btn-block btn-danger" (click)="onReset()">Reset</button>

    </div>
  </div>
  </form>
</div>
